.blockquote {
    font-size: 1rem;
}
.medium-stories {
    background-color: #FFFFFF;
}

.medium-stories-heading {
    font-family: Hind, sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 1.5rem;
    -moz-osx-font-smoothing: grayscale
}

.medium-link {
    text-decoration-line: none;
    color: rgba(0, 0, 0, 0.5);
}

.medium-stories-heading-trailing {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .3px;
    line-height: 1.5rem;
    text-decoration-line: none;
    color: rgba(0, 0, 0, 0.5);
    -moz-osx-font-smoothing: grayscale
}

.medium-widget-article__row {
    margin-right: -10px !important;
}